
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font family */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* content width */
  .content-width{
    max-width: 1440px;
  margin: 0 auto;
  /* background-color: black; */
  /* header section */
  }
  .header{
    max-width: 1440px;
     margin: 0 auto;
  border: 2px solid green;
  }
  /* nav section */
 
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 150px;
    /* gap: 10px; */
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
  .nav-title{
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
  }
  .primary-button{
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
    padding: 15px 22px;
    border-radius: 8px;
    /* box-shadow: 4, 0,#000000; */
    border: none;
  }
  /* banner-sec */
  #banner-sec{
    max-width: 1440px;
    max-height: 652px;
    /* border: 2px solid yellow; */
    background-image: url(../assignment-01-repo/as-image/Hero-bg.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

.banner-content{
    max-width: 998px;
    max-height: 581px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */
}
.banner-img{
    margin-bottom: 30px;
}
.banner-text{

}
.b-text-title{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
}
.b-text-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;
}
.b-text-btn{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 16px 30px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-bottom: 35px;
}
/* header section end */
/* main section start */
#main-section{
max-width: 1440px;
margin: 0 auto;
border: 2px solid red;
}
.hero-section-content{
    max-width: 1140px;
    background-color: #E7ECFF;
    margin: 0 auto;
    border: 2px solid violet;
}
/* section title */
.section-title{
max-width: 852px;
margin: 0 auto;
text-align: center;
padding: 3px;
border: 2px solid yellow;
}
.sec-title-text{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.sec-description-text{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
}
/* section group */
.section-group{
    max-width: 734px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 6px 60px;
    border: 2px solid green;
}
/*  */
/* sec-btn */
.sec-btn{
    padding: 10px 23px;
    font-size: 18px;
    font-weight: 400;
    color: #0D1321;
    text-align: left;
    display:block;
    margin-left: 10px;
}
/*  */
/* section group -1 */

    
    /* flex-direction: column; */

.group-1-title{
    width: 446px;
    text-align: center;
    
}
.group-1-title-text{
    color: #0D1321;
    font-size: 24px;
    font-weight: 500;
}
.group-1-title-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 300;
}

.group-1-img{
   
    width: 446px;
}
.section-img-1{
  margin: 0 auto;
  /* display: inline-block; */
 margin-left: 100px;
  height: 240px;
  
}
/* section group 02 */
.group-2-img{
  
    width: 246px;
}
.section-img-2{
  margin: 0 auto;
  /* display: inline-block; */
 margin-right: 150px;
  height: 240px;
  
}
.group-2-title{
    width: 446px;
    text-align: center;
    padding-left: 5px;
}
.group-2-title-text{
    color: #0D1321;
    font-size: 24px;
    font-weight: 500;
}
.group-2-title-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 300;
}
/* section group 03 */

.group-3-title{
    width: 446px;
    text-align: center;
}
.group-3-title-text{
    color: #0D1321;
    font-size: 24px;
    font-weight: 500;
}
.group-3-title-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 300;
}
.section-group-btn{
    padding: 10px 23px;
    font-size: 20px;
    font-weight: 400;
    color: #0D1321;
    border-radius: 8px;
}
.group-3-img{
    
    width: 446px;
}
.section-img-3{
  margin: 0 auto;
  /* display: inline-block; */
 margin-left: 100px;
  height: 240px;
  
}
/* section-content */
.section-content{
    max-width: 1140px;
    margin: 0 auto;
    border: 2px solid yellow;
    text-align: center;
}
.sec-content-title{
    max-width: 852px;
    margin: 0 auto;
    border: 2px solid yellow;
    text-align: center;
    padding: 0 150px;
}
.sec-content-title h4{
    color: #0D1321;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}
.sec-content-title p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
}
.content-video{
    border-radius: 8px;

}
/*  */
.section-content-banner{
    max-width: 1140px;
    margin: 0 auto;
    border: 2px solid rgb(171, 130, 238);
}
.content-banner-title{
    max-width: 852px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border: 2px solid yellow;
}

/* content-banner-1 */
.content-banner-1{
    max-width: 1140px;
    border: 2px solid blue;
    display: flex;
    gap: 5%;
    align-items: center;
}
.banner-1{
    width: 25%;
    padding: 5%;
    text-align: left;
    background-color: #FDCCC5;
    border-radius: 8px;
}
.banner-2{
        width: 25%;
        padding: 3.50%;
    text-align: left;
    margin: 0 auto;
        background-color: #ADC8F7;
    border-radius: 8px;
}
.banner-3{
        width: 25%;
        padding: 4%;
    text-align: left;
    margin: 0 auto;
    background-color: #FDBD91;
    border-radius: 8px;
}
#contact-from{
    background: url(../assignment-01-repo/as-image/handshake.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
    max-width: 1044px;
    margin: 0 auto;
    max-height: 220px;
    padding: 60px 48px;
    text-align: center;
    border-radius: 8px;
}
.from-hradding h3{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
}
.from-hradding p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
}
.from{
    display: flex;
    align-items: center;
    gap: 20px;
}
.from-input input{
    /* display: block; */
    border: 2px solid fuchsia;
    margin: 0 auto;
    max-width: 312px;
    height: 20px;
    padding: 19px 216px 19px 20px;
    border-radius: 8px;
}
.from-submite input{
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
}




/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */